.flex-container {
  background-color: rgb(177, 177, 177);
  padding: 25px;
  display: flex;
  gap: 15px;
  /* Kryptis */
  flex-direction: row;
  /* issidestymas pagrindine asimi */
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}
.flex-container .post {
  width: 200px;
  /* margin: 0 15px; */
  /* flex-basis: 200px; */
}
.inline-block-container {
  background-color: rgb(160, 96, 96);
  padding: 25px;
}
.post {
  background-color: snow;
  padding: 10px;
  border-radius: 7px;
}
.inline-block-container .post {
  display: inline-block;
  width: 30%;
  margin: 0 15px;
}
