.flex-container {
  background-color: rgb(177, 177, 177);
  padding: 25px;
  display: flex;
  gap: 15px;
  /* Kryptis */
  flex-direction: row;
  /* issidestymas pagrindine asimi */
  /* justify-content: space-evenly; */
  justify-content: center;
  /* idestymas statmena asimi */
  align-items: flex-end;
  align-items: center;
  align-items: baseline;
  align-items: flex-start;
  align-items: stretch;
  /* flex-wrap: wrap; */
}
.flex-container .post {
  /* width: 200px; */
  /* margin: 0 15px; */
  flex-basis: 33%;
  /* flex-grow: 1; */
}
.flex-container .post-3 {
  /* statmena asimi individualaus elemento isdestymas */
  /* align-self: flex-end; */
  /* flex-basis: 15%; */
  flex-grow: 3;
}
.flex-container .post-2 {
  /* flex-grow: 1; */
  /* flex-basis: 50%; */
}
.inline-block-container {
  background-color: rgb(160, 96, 96);
  padding: 25px;
}
.post {
  background-color: snow;
  padding: 10px;
  border-radius: 7px;
}
.inline-block-container .post {
  display: inline-block;
  width: 30%;
  margin: 0 15px;
}
